@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$header-footer-col: #3f6c8c;
$text-col: rgb(0, 60, 91);
$bg-col: rgb(158, 187, 209);
